
{% load static %}
{% load crispy_forms_tags %}


	<!-- HEADER -->
	{% include "home/header.html" %}


	</div>

	<div class="discy-content"><div class="discy-inner-content menu_sidebar"><div class="discy-container">
		<main class="discy-main-wrap discy-site-content float_l" ><div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">

	<div class="discy-main-inner float_l">

		<div class="breadcrumbs">
			<span class="crumbs">
				<span> <a href="/home/">Home</a>
					<span><span class="crumbs-span"> / </span>
					<span class="current">Add question</span>
					</span>
				</span>
			</span>

			<div class="breadcrumb-right"></div>
		</div>

    <h1 class="mt-2">Ask a Question</h1>
    <hr class="mt-0 mb-4">
	
	<form method = 'post'>
		{% csrf_token %}
		<label for = "{{form.text.id_for_label}}" >Text:</label><br>
		{{form.text}}
		<br>
		<label for = "{{form.explanation.id_for_label}}" >Explanation:</label><br>
		{{form.explanation}}
		<br>
		<!--<label for = "{{form.interests.id_for_label}}" >Interests:</label>-->
		{{form.interests|as_crispy_field}}
		<br>
		<button type ="submit" class="btn btn-primary btn-lg" >Submit</button>
	</form>

    </div>

	<!-- RIGHT SIDE BAR -->
<div class="hide-main-inner"></div>
{% include "home/right-bar.html" %}


</div></main>


<!-- LEFT SIDE BAR -->
{% include "home/left-bar.html" %}


</div></div></div>


<!-- FOOTER -->
{% include "home/footer.html" %}


</body></html>