	<!-- HEADER -->
	{% include "home/header.html" %}

	</div>


	<div class="discy-content"><div class="discy-inner-content menu_sidebar"><div class="discy-container">

		<main class="discy-main-wrap discy-site-content float_l" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;"><div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;"><div class="discy-main-inner float_l">

	<div class="clearfix"></div>

	<div class="row"><div class="col col12"><div class="wrap-tabs">
		<div class="menu-tabs active-menu">
			<ul class="menu flex">
				<li class="active-tab"><a href="#">Recent Questions</a></li>
				<li><a href="#">Most Answers</a></li>
				<li><a href="#">Most Visit</a></li>
			</ul>
		</div>
	</div></div></div>


	{% for question in questions %}

	<article class="article-question article-post">
		<div class="single-inner-content"><div class="question-inner">
			<div class="question-image-vote"><div class="author-image">
				<a href="#"><span class="author-image-span"><img class="avatar avatar-42 photo" alt="{{question.user.username}}" title="{{question.user.username}}" src="/static/home/dp-42_42.jpg" width="42" height="42"></span></a>
				</div>
			</div>

			<div class="question-content question-content-first">
				<header class="article-header">
					<div class="question-header">
						<a class="post-author" href="#">{{question.user.username}}</a>
						<div class="post-meta">
							<span class="post-date" itemprop="dateCreated" datetime="April 19, 2018">Asked: <time class="entry-date published" datetime="2018-04-19T02:00:31+00:00">April 19, 2018</time></span>
						</div>
					</div>
				</header>

				<div>
					<h2 class="post-title"><a class="post-title" href="/home/{{question.id}}/answer/">{{question.text}}</a></h2>
				</div>
			</div>

			<div class="question-image-vote question-vote-sticky">
				<div>
					<ul class="question-vote">
						<li class="question-vote-up"><a href="/home/question/{{question.id}}/upvote/" title="Like"><i class="icon-up-dir"></i></a></li>
						<li class="vote_result">{{question.upvote}}</li>
						<li class="li_loader"><span class="loader_3 fa-spin"></span></li>
						<li class="question-vote-down"><a href="/home/question/{{question.id}}/downvote/" title="Dislike"><i class="icon-down-dir"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="question-content question-content-second">
				<div class="post-wrap-content">
					<div class="question-content-text">
						<p>{{ question.explaination }}</p>
					</div>

					<div class="tagcloud"><div class="question-tags"><i class="icon-tags"></i>
						{% for tag in question.interests.split %}
							<a href="#">{{ tag }}</a>
						{%endfor%}
					</div></div>
				</div>
				
				<footer class="question-footer">
					<ul class="footer-meta">
						<li>
							<a href="/home/{{question.id}}/answer/">{{question.answer_count}}</a> 
							<span class="question-span"><a href="/home/{{question.id}}/answer/">Answers</a></span>
						</li>
					</ul>
					<a class="meta-answer" href="/home/{{question.id}}/answer/">Answer</a>
				</footer>
			</div>
			<div class="clearfix"></div>
		</div></div>
	</article>

	{% endfor %}

</div>

<div class="hide-main-inner"></div>

{% include "home/right-bar.html" %}


</div></main>


<!-- LEFT SIDE BAR -->
{% include "home/left-bar.html" %}


</div></div></div>


<!-- FOOTER -->
{% include "home/footer.html" %}


</body></html>