<footer class="footer no-widget-icons" itemscope="" itemtype="https://schema.org/WPFooter">
	<div id="inner-footer" class="wrap clearfix">
		<div class="top-footer">
			<div class="discy-container"><aside><h3 class="screen-reader-text">Footer</h3>
				<div class="col4">
					<section id="about-widget-2" class="widget about-widget">
						<div class="widget-wrap">
							<div class="about-image about-image-text" style="margin-top:50px">
								<img src="/static/home/logo-footer.png" alt="Discy">
							</div>
						
							<div class="about-text">
								<div class="empty-title">
									<h2 class="widget-title"><i class="icon-folder"></i></h2>
								</div>Discy is a social questions &amp; Answers Engine which will help you establis your community and connect with other people.
							</div>
						</div>
					</section>
				</div>

				<div class="col2">
					<section id="nav_menu-2" class="widget widget_nav_menu">
					<h2 class="widget-title"><i class="icon-folder"></i>About Us</h2>
					<div class="menu-company-container">
						<ul id="menu-company" class="menu">
							<li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a class="" href="https://2code.info/demo/themes/Discy/Main/users/">Meet The Team</a></li><li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a class="" href="https://2code.info/demo/themes/Discy/Main/blog/">Blog</a></li>
							<li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a class="" href="https://2code.info/demo/themes/Discy/Main/about-us/">About Us</a></li>
							<li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a class="" href="https://2code.info/demo/themes/Discy/Main/contact-us/">Contact Us</a></li>
						</ul>
					</div>
					</section>
				</div>

				<div class="col2">
					<section id="nav_menu-3" class="widget widget_nav_menu">
					<h2 class="widget-title"><i class="icon-folder"></i>Legal Stuff</h2>
					<div class="menu-legal-stuff-container">
						<ul id="menu-legal-stuff" class="menu">
							<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a class="" href="https://2code.info/demo/themes/Discy/Main/faqs/">Terms of Use</a></li>
							<li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a class="" href="https://2code.info/demo/themes/Discy/Main/faqs/">Privacy Policy</a></li>
							<li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89"><a class="" href="https://2code.info/demo/themes/Discy/Main/faqs/">Cookie Policy</a></li>
						</ul>
					</div>
					</section>
				</div>

				<div class="col2">
					<section id="nav_menu-4" class="widget widget_nav_menu">
					<h2 class="widget-title"><i class="icon-folder"></i>Help</h2>
					<div class="menu-help-container">
						<ul id="menu-help" class="menu">
							<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a class="" href="https://2code.info/demo/themes/Discy/Main/faqs/">Knowledge Base</a></li>
							<li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a class="" href="https://2code.info/demo/themes/Discy/Main/contact-us/">Support</a></li>
						</ul>
					</div>
					</section>
				</div>

				<div class="col2">
					<section id="social-widget-2" class="widget social-widget">
						<h2 class="widget-title"><i class="icon-folder"></i>Follow</h2>
						<div class="widget-wrap"><ul class="social-ul">
							<li class="social-facebook"><a title="Facebook" href="#" target="_blank"><i class="icon-facebook"></i></a></li>
							<li class="social-twitter"><a title="Twitter" href="#" target="_blank"><i class="icon-twitter"></i></a></li>
							<li class="social-gplus"><a title="Google" href="#" target="_blank"><i class="icon-gplus"></i></a></li>
							<li class="social-rss"><a title="Feed" href="https://2code.info/demo/themes/Discy/Main/feed/" target="_blank"><i class="icon-rss"></i></a></li>
						</ul></div>
					</section>
				</div>

				</aside>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="discy-container">
				<p class="credits">© 2018 Discy. All Rights Reserved<br>With Love by <a href="https://2code.info/" target="_blank">2code</a></p>
			</div>
		</div>

	</div>
</footer>


</div>


<link rel="stylesheet" id="dashicons-css" href="/static/home/dashicons.css" type="text/css" media="all">
<link rel="stylesheet" id="editor-buttons-group-css" href="/static/home/a_002.css" type="text/css" media="all">

<!-- NOTIFICATION -->
<script type="text/javascript" src="/static/home/a_003.js"></script>
<script type="text/javascript" src="/static/home/a_006.js"></script>

<!-- PROFILE -->
<script type="text/javascript" src="/static/home/a_002.js"></script>


<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content wplink-autocomplete" id="ui-id-1" style="display: none;" role="listbox"></ul><span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span>