<!DOCTYPE html>
<html class=" no-svg js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en-US">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="profile" href="https://gmpg.org/xfn/11">

<title>{{question.text}}</title>

<script src="/static/home/wp-emoji-release.js" type="text/javascript" defer="defer"></script>
<link rel="stylesheet" id="contact-form-7-group-css" href="/static/home/a.css" type="text/css" media="all">
<script type="text/javascript" src="/static/home/jquery.js"></script>
<script type="text/javascript" src="/static/home/jquery-migrate.js"></script>
<style>.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style>
<style>.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style>
<script src="/static/home/prompt.js"></script>
<link rel="stylesheet" type="text/css" id="u0" href="/static/home/skin.css">
</head>


<body>

<div class="background-cover"></div>

<div id="wrap" class="wrap-login"><div class="hidden-header header-dark mobile_bar_active">

<header class="header">
	<div class="discy-container">
		<div class="right-header float_r"><div class="user-login-area">
			<div class="notifications-area user-notifications float_r">
				<span class="notifications-click"></span><i class="icon-bell"></i>

				<div>
					<ul>
						<li><i class="icon-bucket"></i><div> Gift of the site - 20 Points.<span class="notifications-date">September 27, 2018 at 11:26 am</span></div></li>
					</ul>

					<a href="#">Show all notifications.</a>
				</div>
			</div>

			<div class="user-login-click float_r">
				<span class="user-click"></span>
				<div class="user-image float_l">
					<img alt="adarsh" src="/static/home/dp-29_29.jpg">
				</div>

				<div class="user-login float_l" style="margin-top: 22px;">
					<span>Welcome</span><br><div class="float_l">{{request.user}}</div>
				</div>

				<ul>
					<li><a href="/profile/">User Profile</a></li>
					<li><a href="/edit/">Edit Profile</a></li>
					<li><a href="/profile/asked/">Asked Questions</a></li>
					<li><a href="/prfile/activity/">Activity Log</a></li>
					<li><a href="/home/logout/">Logout</a></li>
				</ul>
			</div>
		</div></div>

		<div class="left-header float_l">
			<a class="logo float_l logo-img" href="/home/" title="Discy"> 
				<img title="" class="default_screen" alt="Logo" src="/static/home/logo.png" width="137" height="45">
			</a>

			<div class="mid-header float_l">
				<nav class="nav float_l">
					<ul id="menu-header-login" class="menu">
						<li><a class="" href="/home/">Home</a></li>
						<li><a class="" href="/home/about-us">About Us</a></li>
						<li><a class="" href="/home/contact-us/">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>