<header class="header" itemscope="" itemtype="https://schema.org/WPHeader">
	<div class="discy-container">
		<div class="mobile-menu"><div class="mobile-menu-click"><i class="icon-menu"></i></div></div>

		<div class="right-header float_r"><div class="user-login-area">
			<div class="notifications-area user-notifications float_r">
				<span class="notifications-click"></span><i class="icon-bell"></i>

				<div>
					<ul>
						<li><i class="icon-bucket"></i><div> Gift of the site - 20 Points.<span class="notifications-date">September 27, 2018 at 11:26 am</span></div></li>
					</ul>

					<a href="https://2code.info/demo/themes/Discy/Main/profile/adarsh/notifications/#section-notifications">Show all notifications.</a>
				</div>
			</div>

			<div class="user-login-click float_r">
				<span class="user-click"></span>
				<div class="user-image float_l">
					<img alt="adarsh" src="/static/home/ad8fd5da99af8b2e058a48ad7000de82.jpg" srcset="https://secure.gravatar.com/avatar/ad8fd5da99af8b2e058a48ad7000de82?s=58&amp;d=mm&amp;r=g 2x" class="avatar avatar-29 photo" width="29" height="29">
				</div>

				<div class="user-login float_l" style="margin-top: 22px;">
					<span>Welcome</span><br><div class="float_l">adarsh</div>
				</div>

				<i class="icon-down-open-mini"></i>
				<ul>
					<li><a href="/profile/"><i class="icon-user"></i>User Profile</a></li>
					<li><a href="/edit/"><i class="icon-cog"></i>Edit Profile</a></li>
					<li><a href="/profile/asked/"><i class="icon-sound"></i>Asked Questions</a></li>
					<li><a href="/prfile/activity/"></i>Activity Log</a></li>
					<li><a href="/home/logout/"><i class="icon-logout"></i>Logout</a></li>
				</ul>
			</div>
		</div></div>

		<div class="left-header float_l">
			<h2 class="screen-reader-text site_logo">Discy</h2> 
			<a class="logo float_l logo-img" href="https://2code.info/demo/themes/Discy/Main/" title="Discy"> <img title="Discy" class="default_screen" alt="Discy Logo" src="/static/home/logo.png" width="137" height="45"> <img title="Discy" class="retina_screen" alt="Discy Logo" src="/static/home/logo-2x.png" width="137" height="45"> </a>

			<div class="mid-header float_l">
				<nav class="nav float_l" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
					<h3 class="screen-reader-text">Discy Navigation</h3>

					<ul id="menu-header-login" class="menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-80"><a class="" href="/home/">Home</a></li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a class="" href="/home/about-us">About Us</a></li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a class="" href="/home/contact-us/">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>