<nav class="nav_menu float_r fixed_nav_menu" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
	<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 30px; left: 174.6px;"><h3 class="screen-reader-text">Explore</h3>

		<ul id="menu-explore" class="menu">
			<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-90"><a class="" href="https://2code.info/demo/themes/Discy/Main/"><i class="icon-home"></i>Home</a></li>
			<li id="menu-item-91" class="wpqa-menu wpqa-profile-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-91 li-profile"><a class="" href="https://2code.info/demo/themes/Discy/Main/profile/adarsh/"><i class="icon-vcard"></i>User Profile</a></li>
			<li id="menu-item-94" class="nav_menu_open menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-94"><a class="" href="https://2code.info/demo/themes/Discy/Main/questions/"><i class="icon-book-open"></i>New Questions</a>
				<!--<ul class="sub-menu">
					<li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-95"><a class="" href="https://2code.info/demo/themes/Discy/Main/?show=recent-questions">New Questions</a></li>
					<li id="menu-item-96" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-96"><a class="" href="https://2code.info/demo/themes/Discy/Main/?show=most-vote">Trending Questions</a></li>
					<li id="menu-item-97" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-97"><a class="" href="https://2code.info/demo/themes/Discy/Main/?show=most-visit">Must read Questions</a></li>
					<li id="menu-item-98" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-98"><a class="" href="https://2code.info/demo/themes/Discy/Main/?show=most-answers">Hot Questions</a></li>
				</ul>-->
			</li>
		</ul>
	</div>
</nav>
