<div class="hide-sidebar sidebar-width">
	<div class="hide-sidebar-inner">
	</div>
</div>

<aside class="sidebar sidebar-width float_l fixed-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;"><div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 0px; left: 1065.6px;">

<div class="inner-sidebar">

	<div class="widget widget_ask">
		<a href="/home/ask/" class="button-default wpqa-question">Ask a Question</a>
	</div>

	<section id="stats-widget-2" class="widget-no-divider widget stats-widget">
		<div class="widget-wrap">
			<ul class="stats-inner">
				<li class="stats-questions"><div><span class="stats-text">Questions</span><span class="stats-value">19</span></div></li>
				<li class="stats-answers"><div><span class="stats-text">Answers</span><span class="stats-value">65</span></div></li>
				<li class="stats-best_answers"><div><span class="stats-text">Best Answers</span><span class="stats-value">11</span></div></li>
				<li class="stats-users"><div><span class="stats-text">Users</span><span class="stats-value">76</span></div></li>
			</ul>
		</div>
	</section>

	<section id="related-widget-2" class="widget related-widget">
		<h2 class="widget-title"><i class="icon-folder"></i>Related Questions</h2>
		<div class="user-notifications user-profile-area">
			<div><ul>
				<li class="widget-posts-text widget-no-img">
					<span class="span-icon"><a href="#">
						<img class="avatar avatar-20 photo" alt="" title="" src="/static/home/dp-25_25.jpg" width="25" height="25">
					</a></span>
					
					<div>
						<h3><a href="https://2code.info/demo/themes/Discy/Main/question/how-do-native-speakers-tell-im-foreign-based-on-my-english-alone/" title="How do native speakers tell I’m foreign based on my English alone?" rel="bookmark">How do native speakers tell I’m foreign based on my </a></h3>
						<ul class="widget-post-meta">
							<li><a class="post-meta-comment" href="https://2code.info/demo/themes/Discy/Main/question/how-do-native-speakers-tell-im-foreign-based-on-my-english-alone/#comments"><i class="icon-comment"></i>3 Answers</a></li>
						</ul>
					</div>
				</li>
			</ul></div>
		</div>
	</section>

	<section class="widget widget_tag_cloud">
		<h2 class="widget-title">Trending Tags</h2>
		<div class="tagcloud">
			<a href="https://2code.info/demo/themes/Discy/Main/question-tag/analytics/" class="tag-cloud-link tag-link-11 tag-link-position-1" style="font-size: 22pt;" aria-label="analytics (3 items)">analytics</a>
		</div>
	</section>
</div></div>
</aside>