	<!-- HEADER -->
	{% include "home/header.html" %}

	</div>


	<div class="discy-content"><div class="discy-inner-content menu_sidebar"><div class="discy-container">

		<main class="discy-main-wrap discy-site-content float_l" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;"><div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">

	<div class="discy-main-inner float_l">

		{% include "profile/user-info.html" %}

		<div class="wrap-tabs"><div class="menu-tabs active-menu">
			<ul class="menu flex">
				<li><a href="/profile/">Asked Questions</a></li>
				<li><a href="/profile/answered/">Answered Questions</a></li>
				<li><a href="/profile/saved/">Saved Questions</a></li>
			</ul>
		</div></div>

		<div id="section-notifications" class="user-notifications user-profile-area"><div>
			<ul>
				{% for q in answer_notif %}
				<li><i class="icon-plus"></i><div>
					<a href="#">{{q.anserer}}</a> has answered your question.
				{% endfor %}

				{% for q in q_notif_up %}
				<li><i class="icon-up-dir"></i><div>
					<a href="#">{{q.voter}}</a> has upvoted your question.
				{% endfor %}

				{% for q in a_notif_up %}
				<li><i class="icon-up-dir"></i><div>
					<a href="#">{{q.voter}}</a> has upvoted your answer.
				{% endfor %}

				{% for q in q_notif_down %}
				<li><i class="icon-down-dir"></i><div>
					<a href="#">{{q.voter}}</a> has downvoted your question.
				{% endfor %}

				{% for q in a_notif_down %}
				<li><i class="icon-down-dir"></i><div>
					<a href="#">{{q.voter}}</a> has downvoted your answer.
				{% endfor %}
				</div></li>
			</ul>
		</div></div>

		<!-- IF NO QUESTIONS 
		<section id="section-">
			<div class="alert-message warning">
				<i class="icon-flag"></i><p>No notifications</p>
			</div>
		</section>-->

	</div>

	<div class="hide-main-inner"></div>


{% include "home/right-bar.html" %}


</div></main>


<!-- LEFT SIDE BAR -->
{% include "home/left-bar.html" %}


</div></div></div>


<!-- FOOTER -->
{% include "home/footer.html" %}


</body></html>