	<!-- HEADER -->
	{% include "home/header.html" %}

	</div>


	<div class="discy-content"><div class="discy-inner-content menu_sidebar"><div class="discy-container">

		<main class="discy-main-wrap discy-site-content float_l" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;"><div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">

	<div class="discy-main-inner float_l">

		<div class="breadcrumbs">
			<span class="crumbs" xmlns:v="https://rdf.data-vocabulary.org/#">
				<span typeof="v:Breadcrumb"> 
					<a rel="v:url" property="v:title" href="https://2code.info/demo/themes/Discy/Main/"><i class="icon-home"></i>Home</a>
					<span rel="v:child" typeof="v:Breadcrumb"><span class="crumbs-span"> / </span>
						<span class="current">adarsh</span>
					</span>
				</span>
			</span>
			<div class="breadcrumb-right">
				<div class="question-navigation edit-profile">
					<a href="#"><i class="icon-pencil"></i>Edit profile</a>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="user-area-content"><div class="post-section user-area user-advanced">
			<div class="post-inner"><div class="user-head-area">
				<div class="author-image">
					<a href="#">
						<span class="author-image-span">
							<img alt="{{request.user}}" src="/home/static/dp-84_84.jpg" class="avatar avatar-84 photo" width="84" height="84">
						</span>
					</a>
				</div></div>
				<div class="user-content"><div class="user-inner">
					<h4><a href="#">{{request.user}}</a></h4>
					</div>
					<div class="social-ul"><ul>
						<li class="social-email"><a class="tooltip-n" href="mailto:{{request.user}}@gmail.com" target="_blank" rel="nofollow" original-title="Email"><i class="icon-mail"></i></a></li>
					</ul></div>
				</div>
				<div class="clearfix"></div>
			</div></div>
			<div class="user-stats">
				<ul class="row">
					<li class="col col3 user-questions"><div><a href="#"></a><div><span>0</span><h4>Questions</h4></div></div></li>
					<li class="col col3 user-answers"><div><a href="#"></a><div><span>0</span><h4>Answers</h4></div></div></li>
				</ul>
			</div>
			<div class="user-follower">
				<ul class="row">
					<li class="col col6 user-followers"><div><a href="#"></a><h4><i class="icon-users"></i>Followers</h4><div><span>Author doesn't follow anyone.</span></div></div></li>
					<li class="col col6 user-following"><div><a href="#"></a><h4><i class="icon-users"></i>Following</h4><div><span>Author doesn't have any followers yet.</span></div></div></li>
				</ul>
			</div>
		</div>

		<div class="wrap-tabs"><div class="menu-tabs active-menu">
			<ul class="menu flex">
				<li class="active-tab"><a href="https://2code.info/demo/themes/Discy/Main/profile/adarsh/questions/#section-questions">Asked Questions</a></li>
				<li><a href="#">Answers</a></li>
				<li><a href="#">Saved Questions</a></li>
			</ul>
		</div></div>


		<!-- IF NO QUESTIONS -->
		<section id="section-">
			<div class="alert-message warning">
				<i class="icon-flag"></i><p>Still no questions.</p>
			</div>
		</section>

	</div>

	<div class="hide-main-inner"></div>


{% include "home/right-bar.html" %}


</div></main>


<!-- LEFT SIDE BAR -->
{% include "home/left-bar.html" %}


</div></div></div>


<!-- FOOTER -->
{% include "home/footer.html" %}


</body></html>