<div class="breadcrumbs">
	<span class="crumbs">
		<span> 
			<a href="/home/">Home</a>
			<span><span class="crumbs-span"> / </span>
				<span>{{request.user}}</span>
			</span>
		</span>
	</span>
</div>

<div class="clearfix"></div>

<div class="user-area-content"><div class="post-section user-area user-advanced">
	<div class="post-inner"><div class="user-head-area">
		<div class="author-image">
			<a href="#">
				<span class="author-image-span">
					<img alt="{{request.user}}" src="/static/home/dp-84_84.jpg" class="avatar avatar-84 photo" width="84" height="84">
				</span>
			</a>
		</div></div>
		<div class="user-content"><div class="user-inner">
			<h4><a href="#">{{request.user}}</a></h4>
			</div>
			<div class="social-ul"><ul>
				<li class="social-email"><a class="tooltip-n" href="mailto:{{request.user}}@gmail.com" target="_blank" rel="nofollow" original-title="Email"><i class="icon-mail"></i></a></li>
			</ul></div>
		</div>
		<div class="clearfix"></div>
	</div></div>
	<div class="user-stats">
		<ul class="row">
			<li class="col col3 user-questions"><div><a href="/profile/"></a><div><span>{{ question_count }}</span><h4>Questions</h4></div></div></li>
			<li class="col col3 user-answers"><div><a href="/profile/answered/"></a><div><span>{{ answer_count }}</span><h4>Answers</h4></div></div></li>
		</ul>
	</div>
	
</div>